/* General */

html {
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  background-color: lightgrey;
  box-sizing: border-box;
  margin: 0;
}

/* Helpers */

.margin-top--16 {
  margin-top: 16px;
}

.margin-bottom--16 {
  margin-bottom: 16px;
}

.margin-right--16 {
  margin-right: 16px;
}

.color-filter--complementary {
  filter: hue-rotate(180deg);
}